@model IEnumerable<final_0922.Room>

@{
    ViewBag.Title = "Room";
}

<h2>Room</h2>

<p>
    @Html.ActionLink("Create New", "Room_Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomIntrodution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomstatusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomIntrodution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomstatusID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Room_Edit", new { R_id = item.RoomID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoomID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoomID })
        </td>
    </tr>
}

</table>
